.example {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    max-width: 100%;
    overflow: hidden;

    .code {
        color: #fff;
        background-color: #000;

        pre {
            margin: 0;
        }

        code {
            padding: 12px;
            font-family: 'Roboto Mono', monospace;
            font-size: 13px;
            line-height: 20px;
        }
    }
}
