.snippet {
    .example {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow: hidden;

        .code {
            color: #afb6ca;
            border-radius: 12px;
            background-color: #3c4257;

            > .header {
                border-radius: 12px 12px 0 0;
                padding: 12px 16px;
                background-color: #4f566b;
            }

            pre {
                display: flex;
                overflow-x: auto;
                padding: 16px;
                margin: 0;
            }

            small {
                letter-spacing: 0.8px;
                font-weight: 600;
            }

            code {
                font-family: 'Roboto Mono', monospace;
                font-size: 13px;
                line-height: 21px;
                letter-spacing: -0.1px;
            }
        }


        .highlight {
            background-color: rgba(#6edea5, 0.2);
            border-radius: 2px;
            padding-right: 2px;
            padding-left: 2px;
        }

        .token.comment,
        .token.prolog,
        .token.doctype,
        .token.cdata {
            color: #999988;
            font-style: italic;
        }

        .token.namespace {
            opacity: .7;
        }

        .token.string,
        .token.attr-value {
            color: #66c789;
        }

        .token.punctuation,
        .token.operator {
            color: #9ca5b6; /* no highlight */
        }

        .token.entity,
        .token.url,
        .token.symbol,
        .token.number,
        .token.boolean,
        .token.variable,
        .token.constant,
        .token.property,
        .token.regex,
        .token.inserted {
            color: #36acaa;
        }

        .token.atrule,
        .token.keyword,
        .token.attr-name,
        .language-autohotkey .token.selector {
            color: #d6ac6c;
        }

        .token.function,
        .token.deleted,
        .language-autohotkey .token.tag {
            color: #9a050f;
        }

        .token.tag,
        .token.selector,
        .language-autohotkey .token.keyword {
            color: #e2719a;
        }

        .token.important,
        .token.function,
        .token.bold {
            font-weight: bold;
        }

        .token.italic {
            font-style: italic;
        }
    }
}
