$shadows: (
    0: none,
    1: unquote("0 1px 4px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.08)"),
    2: unquote("0 4px 6px -1px rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.08)"),
    3:
        unquote(
            "0 12px 16px -4px rgba(0,0,0,.12), 0 4px 8px -2px rgba(0,0,0,.08)"
        ),
    4:
        unquote(
            "0 20px 24px -6px rgba(0,0,0,.12), 0 12px 12px -6px rgba(0,0,0,.04)"
        )
) !default;
