@mixin withMedia($type: null) {
    @include spacing($type);
    @include position($type);
    @include radius($type);
    @include display($type);
    @include grid($type);
    @include width($type);
    @include shadow($type);
    @include maxWidth($type);
    @include flexbox($type);
    @include float($type);
}

@include withMedia();

@each $type, $break in $breakpoints {
    @include above($type) {
        @include withMedia(\@ + $type);
    }
}


