@mixin display($breakpoint: null) {
    .grid#{$breakpoint} {
        display: grid;
        grid-template-columns: repeat($gridColumns, 1fr);
    }

    .flex#{$breakpoint} {
        display: flex;
    }

    .inline-flex#{$breakpoint} {
        display: inline-flex;
    }

    .block#{$breakpoint} {
        display: block;
    }

    .inline-block#{$breakpoint} {
        display: inline-block;
    }

    .none#{$breakpoint}, .hidden#{$breakpoint} {
        display: none;
    }

    .table#{$breakpoint} {
        display: table;
    }

    .table-cell#{$breakpoint} {
        display: table-cell;
    }

    .table-row#{$breakpoint} {
        display: table-row;
    }
}