@mixin spacing($breakpoint: null) {
    @for $size from 0 through 12 {
        $spacing: $size * 4px;
        $negativeSpacing: -$size;

        @each $type in 'p', 'm' {
            $prop: if($type == 'm', 'margin', 'padding');

            .#{$type}#{$size}#{$breakpoint} {
                #{$prop}: $spacing;
            }

            .#{$type}t#{$size}#{$breakpoint} {
                #{$prop}-top: $spacing;
            }

            .#{$type}b#{$size}#{$breakpoint} {
                #{$prop}-bottom: $spacing;
            }

            .#{$type}r#{$size}#{$breakpoint} {
                #{$prop}-right: $spacing;
            }

            .#{$type}l#{$size}#{$breakpoint} {
                #{$prop}-left: $spacing;
            }

            .#{$type}v#{$size}#{$breakpoint} {
                #{$prop}-top: $spacing;
                #{$prop}-bottom: $spacing;
            }

            .#{$type}h#{$size}#{$breakpoint} {
                #{$prop}-right: $spacing;
                #{$prop}-left: $spacing;
            }
        }
    }
}