@mixin textTransform($breakpoint: null) {
    .ttn#{$breakpoint} { 
        text-transform: none; 
    }

    .ttc#{$breakpoint} { 
        text-transform: capitalize; 
    }

    .ttl#{$breakpoint} { 
        text-transform: lowercase; 
    }

    .ttu#{$breakpoint} { 
        text-transform: uppercase; 
    }
}