@mixin textAlign($breakpoint: null) {
    .taj#{$breakpoint} { 
        text-align: justify; 
    }

    .tac#{$breakpoint} { 
        text-align: center; 
    }

    .tar#{$breakpoint} { 
        text-align: right; 
    }

    .tal#{$breakpoint} { 
        text-align: left; 
    }
}